
@{
    ViewData["Title"]="Cart";
    Layout = "~/Areas/Users/Views/_Layout.cshtml";
}
<table class="table-bordered table">
   <h1>Giỏ hàng trống</h1>
   <a asp-action="Index" asp-controller="SanPham">Quay lại trang chủ mua hàng</a>
</table>
<br>
